accelerate==1.11.0
certifi==2025.10.5
charset-normalizer==3.4.4
filelock==3.20.0
fsspec==2025.9.0
hf-xet==1.1.10
huggingface-hub==0.36.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.5
numpy==2.3.4
packaging==25.0
pillow==12.0.0
psutil==7.1.1
PyYAML==6.0.3
regex==2025.10.23
requests==2.32.5
safetensors==0.6.2
setuptools==80.9.0
sympy==1.14.0
tokenizers==0.21.4
torch==2.9.0
tqdm==4.67.1
transformers @ git+https://github.com/huggingface/transformers@63cd4c76f3a068ac36c37453be156e019c55c1b7
typing_extensions==4.15.0
urllib3==2.5.0
